
  <!-- Navbar -->
  <nav class="navbar">
    <a href="#" class="logo">
      <img src="/images/fitness.webp" alt="Fitness Logo">
      <div class="club-name">
      J<span>F(Jugurta Fitness)</span>
      </div>
    </a>
    <div class="menu">
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#services">Services</a>
      <a href="#contact">Contact</a>
      <a href="#try" class="btn btn-outline">Try Us Free</a>
      <a href="#join" class="btn btn-primary">Join Now</a>
    </div>
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </nav>

  <!-- Hero Section -->
  <section class="hero" id="home">
    <div class="hero-content">
      <h1>Transform Your Body</h1>
      <p>What’s holding you back from being your best self?.</p>
      <a href="#about" class="cta-button">Learn More</a>
    </div>
  </section>

  <!-- About Section -->
  <div class="content" id="about">
    <h2>About Fitness</h2>
    <p>
      Welcome to Fitness Club, your ultimate destination for health and fitness. I believe in providing a supportive environment for people of all levels to achieve their goals.
    </p>
    <img src="/images/fclub.webp" alt="About Fitness Club">
    <p>
      Join me today and be part of my community that values health, wellness, and personal growth.
    </p>
  </div>

  <div class="bmi-calculator">
    <h1>BMI Calculator</h1>
    <label for="weight">Weight (kg):</label>
    <input type="number" id="weight" placeholder="Enter your weight">
    <label for="height">Height (cm):</label>
    <input type="number" id="height" placeholder="Enter your height">
    <button onclick="calculateBMI()">Calculate BMI</button>
    <div class="result" id="bmi-result"></div>
  </div>



  <!-- Footer -->
  <footer>
    <div class="social-icons">
      <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
      <a href="#" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
      <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
      <a href="#" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <p>&copy; 2025 Fitness Club. All Rights Reserved.</p>
  </footer>

  

